body {
      font-family: Arial, sans-serif;
      background: #5c6988;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }

    .card {
      background: rgb(7, 178, 184);
      padding: 30px;
      width: 400px;
      border-radius: 15px;
      box-shadow: 0px 5px 15px rgba(0,0,0,0.2);
      text-align: center;
    }

    h2 {
      color: #2c3e50;
    }

    select, input {
      width: 100%;
      padding: 10px;
      margin-top: 10px;
      border-radius: 8px;
      border: 1px solid gray;
    }

    button {
      margin-top: 20px;
      padding: 12px;
      width: 100%;
      background: #007bff;
      color: white;
      font-size: 16px;
      border: none;
      border-radius: 8px;
      cursor: pointer;
    }

    button:hover {
      background: #0056b3;
    }

    pre {
      text-align: left;
      background: #eee;
      padding: 10px;
      border-radius: 10px;
      margin-top: 20px;
    }